**.orig
*.bowerrc
*.log
*.rbc
.DS_Store
.DS_Store
.rspec
.rvmrc
.sass-cache
/dist
/generated
/log
/node_modules
/node_modules
/spec/tmp
/tmp
/vendor/assets/bower_components
/vendor/bower
/vendor/bundle
/vendor/js/**/*
bower.json
pickle-email-*.html
rerun.txt