**.orig
*.bowerrc
*.rbc
.DS_Store
.rspec
.rvmrc
.sass-cache
/.bundle
/coverage/
/db/*.sqlite3
/dist
/generated
/log
/node_modules
/public/system
/spec/tmp
/tmp
/vendor/assets/bower_components
/vendor/bower
/vendor/bundle
bower.json
capybara-*.html
config/initializers/secret_token.rb
config/secrets.yml
Gemfile.lock
pickle-email-*.html
rerun.txt