!!!
%html
  %head
    %title Pull Reviewer
    %link{ href: '/css/app.css', media: 'all', rel: 'stylesheet', type: 'text/css' }
  %body
    %header
    %main
    %script{ src: '/js/app.js', type: 'text/javascript' }