.pull-request
  .container
    .header
      .project-title Pull-Reviewr
      .title Definindo método recursivo que chama ele mesmo
    .menu
      %ul
        %li.selected Código
        %li Descrição

.container
  .review_show