// *************************************
//
//   File
//
// *************************************

// .structure
.file
  background: $base-background
  width: 100%
  margin-top: 15px
  border: 1px solid $base-border-color
  border-radius: $base-borderRadius

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

// .structure-scaffolding


// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// ----- Header ----- //
.file-header
  font-size: 20px
  font-family: $base-fontFamily
  padding: 10px
  text-shadow: 0 1px 0 $base-background
  border-bottom: 1px solid $base-border-color
  background-color: #F7F7F7
  border-top-left-radius: 4px
  border-top-right-radius: 4px