.files_region
  .file
    height: auto
    background: #FFFFFF
    width: 100%
    margin-top: 15px
    border: 1px solid #E4E4E4
    border-radius: 5px
    .file-header
      font-size: 20px
      font-family: $base-fontFamily
      padding: 10px
      text-shadow: 0 1px 0 #fff
      border-bottom: 1px solid #E4E4E4
      background-color: #f7f7f7
      border-top-left-radius: 4px
      border-top-right-radius: 4px

.files_region .file-lines-container
  .file-line
    font-size: 14px
    display: inline-block
    width: 815px
    span
      text-align: right
      &.old, &.new
        padding: 2px 10px
        border-right: 1px solid #E4E4E4
        width: 50%
        box-sizing: border-box
        float: left
    &:hover
      .add-discussion-region .add_discussion
        display: inline

    .add-discussion-region
      position: relative
      .add_discussion
        display: none
        cursor: pointer
        margin: 2px 4px
        border-radius: 5px
        border: solid #6EC3E1
        border-width: 0 0 2px 0
        position: absolute
        right: 0
        width: 20px
        height: 20px
        background: #7CDAFC
    .numbers-region, .markers-region, .code-region
      display: inline-block
    .numbers-region, .markers-region
      float: left
      width: 10%
    .markers-region
      .markers
        width: 100%
        border-right: 1px solid #E4E4E4
        display: inline-block
    .code-region
      padding: 2px 10px
      float: right
      width: 80%
    .discussions-region
      display: inline-block
      width: 100%
      // border: 1px #E4E4E4
      // border-style: solid none
      .discussion
        position: absolute
        background: #FFF
        overflow: hidden
        right: 10px
        width: 220px
        border-radius: 5px
        border: 1px solid #CCC
        li
          display: inline-block
          padding: 0 5px
          width: 100%
          border-bottom: 1px solid #E4E4E4
          &:last-child
            border: none
          &:not(:first-child)
            background: #F8F8F8
          p.message
            font-size: 13px
            font-family: Arial, sans-serif
            padding: 5px 0
          a
            font-family: Glify, sans-serif
            overflow: hidden
            height: 30px
            border-radius: 5px
            width: 30px
            display: inline-block
            &.delete
              background: #FF9494
              color: transparent
              border: solid #E48484
              border-width: 0 0 2px 0
              &:before
                content: "o"
                float: left
                width: 30px
                line-height: 30px
                text-align: center
                color: #fff
            &.edit
              color: transparent
              background: #82ED8B
              border: solid #74D47C
              border-width: 0 0 2px 0
              &:before
                content: "n"
                float: left
                color: #fff
                width: 30px
                line-height: 30px
                text-align: center
            &.cancel
              color: transparent
              border: solid #E48484
              border-width: 0 0 2px 0
              background: #FF9494
              &:before
                content: "ù"
                float: left
                width: 30px
                line-height: 30px
                text-align: center
                color: #fff