// *************************************
//
//   File
//
// *************************************
.file
  background: $base-background
  width: 100%
  margin-top: 15px
  border: 1px solid $base-border-color
  border-radius: $base-borderRadius

// ----- Header ----- //
.file-header
  font-size: 20px
  font-family: $base-fontFamily
  padding: 10px
  text-shadow: 0 1px 0 $base-background
  border-bottom: 1px solid $base-border-color
  background-color: #F7F7F7
  border-top-left-radius: 4px
  border-top-right-radius: 4px

// ----- Lines ----- //
.file-line
  font-size: 14px
  display: inline-block
  width: 815px
  &:hover
    .add-discussion-region .add_discussion
      display: inline
  span
    text-align: right

//   Modifiers
.file-line--addition
  background: #DBFFDB

.file-line--deletion
  background: #FFECEC

// States
.file-line.is-current
  background: #F7F5D3

// ----- Commons ----- //
.numbers-region, .markers-region
  float: left
  width: 10%

// ----- Numbers ----- //
.file-line-numbers span
  &.old, &.new
    padding: 2px 10px
    border-right: 1px solid $base-border-color
    width: 50%
    box-sizing: border-box
    float: left

// ----- Markers ----- //
.file-line-markers
  float: left
  width: 100%
  border-right: 1px solid $base-border-color
  display: inline-block

.file-line-marker
  width: 10px
  height: 10px
  border-radius: $base-borderRadius
  display: inline-block
  &.is-accepted
    background: green
  &.is-rejected
    background: red

// ----- Discussion ----- //
.add-discussion-region
  position: relative

.add_discussion
  display: none
  cursor: pointer
  margin: 2px 4px
  border-radius: $base-borderRadius
  border: solid #6EC3E1
  border-width: 0 0 2px 0
  position: absolute
  right: 0
  width: 20px
  height: 20px
  background: #7CDAFC

// ----- Code ----- //
.file-line-code
  font-family: $c-code-fontFamily
  padding: 2px 10px
  float: right
  width: 80%

// ----- Discussion ----- //
.discussions-region
  display: inline-block
  width: 100%

ul.discussion
  position: absolute
  background: $base-background
  overflow: hidden
  right: 10px
  width: 220px
  border-radius: $base-borderRadius
  border-bottom: 1px solid $base-border-color
  li
    display: inline-block
    padding: 0 5px
    width: 100%
    &:last-child
      border: none
    &:not(:first-child)
      background: #F8F8F8

.discussion .message
  font-size: 13px
  font-family: Arial, sans-serif
  padding: 5px 0

.discussion a
  font-family: Glify, sans-serif
  overflow: hidden
  height: 30px
  border-radius: $base-borderRadius
  color: transparent
  width: 30px
  display: inline-block
  &.delete
    background: #FF9494
    border: solid #E48484
    border-width: 0 0 2px 0
    &:before
      @extend %button-content
  &.edit
    background: #82ED8B
    border: solid #74D47C
    border-width: 0 0 2px 0
    &:before
      @extend %button-content
  &.cancel
    border: solid #E48484
    border-width: 0 0 2px 0
    background: #FF9494
    &:before
      @extend %button-content