header
  height: 50px
  width: 100%
  background: $color-highlight
  border-bottom: 2px solid $color-highlight-dark

  .logo-region
    float: left
    height: 42px
    width: 200px

  .current-user-region
    float: left
    height: 42px
    margin: 5px 0px 0px 360px
    width: 245px

    img.gravatar
      height: 34px
      width: 34px