// *************************************
//
//   Header
//   -> Global Header on top of page
//
// -------------------------------------

// ----- Module ----- //
header
  height: 50px
  width: 100%
  background: $color-highlight
  border-bottom: 2px solid $color-highlight-dark

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule